*{margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;}

body{background: #002339;
    color: #fff;}

 .container{margin: 12%;
          width: 90%;
          max-width: 700px;}

    .display{width: 100%;
             margin-top: 50px;
            margin-bottom: 30px;
           background: #fff;
          color: #333;
         display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 20px;
       border-radius: 8px;}

   .container h1{font-size: 350%;
                  font-weight: 500;}

      .container h1 span{color: #019f55;
                         border-bottom: 4px solid #019f55;
                         padding-bottom: 7px;}

                .display img{width: 30px;
                             cursor: pointer;}

                        .display input{
                        	border: 0;
                        	outline: 0;
                        	font-size: 150%;}

               .container button img{width: 40px;
                                     margin-right: 10px;}

                    .container button{border: 0;
                                       outline: 0;
                                      background: #019f55;
                                      color: #fff;
                                    font-size: 120%;
                                     font-weight: 400;
                                   display: flex;
                                 align-items: center;
                               justify-content: center;
                              padding: 16px 26px;
                               border-radius: 5px;
                              cursor: pointer;}